@import '../colorsFonts.module.scss';

.mainButtonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;

    button:first-child {
        margin-top: 40px;
        margin-bottom: 30px;
    }
}

.scoreBoard {
    color: white;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 30px;
    width: 90%;

    

    .scoreboardRow {
        font-size: 1.2em;
        border: 1px solid white;
        // background-color: $accentColor;
        margin-bottom: 20px;
    }
    .scoreboardRow:first-child {
        color: gold;
    }
    

}
